@model MvcTemplate.Web.ViewModels.Home.IndexViewModel
@{
    ViewBag.Title = "Home Page";
}

<h1>Random jokes</h1>
<div class="row">
    @foreach (var joke in Model.RandomJokes)
    {
        <div class="col-md-4">
            @Html.Raw(joke.Content.Replace("\n", "<br />"))
        </div>
    }
</div>

<h1>Categories</h1>
<div class="row">
    @foreach (var category in Model.Categories)
    {
        <div class="col-md-2">
            <p>@category.Name</p>
        </div>
    }
</div>
